<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<servlet-name>URegisterServlet</servlet-name>
  	<display-name>URegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.UserServlet.com.URegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>URegister</servlet-name>
  	<display-name>URegister</display-name>
  	<description></description>
  	<servlet-class>com.UserServlet.com.URegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserAddCart</servlet-name>
  	<display-name>UserAddCart</display-name>
  	<description></description>
  	<servlet-class>com.UserServlet.com.UserAddCart</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserDelete</servlet-name>
  	<display-name>UserDelete</display-name>
  	<description></description>
  	<servlet-class>com.UserServlet.com.UserDelete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserLogin</servlet-name>
  	<display-name>UserLogin</display-name>
  	<description></description>
  	<servlet-class>com.UserServlet.com.UserLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserUpdate1</servlet-name>
  	<display-name>UserUpdate1</display-name>
  	<description></description>
  	<servlet-class>com.UserServlet.com.UserUpdate1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserUpdateCart</servlet-name>
  	<display-name>UserUpdateCart</display-name>
  	<description></description>
  	<servlet-class>com.UserServlet.com.UserUpdateCart</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserViewCart</servlet-name>
  	<display-name>UserViewCart</display-name>
  	<description></description>
  	<servlet-class>com.UserServlet.com.UserViewCart</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLogin</servlet-name>
  	<display-name>AdminLogin</display-name>
  	<description></description>
  	<servlet-class>com.AdminServlet.com.AdminLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CarView</servlet-name>
  	<display-name>CarView</display-name>
  	<description></description>
  	<servlet-class>com.AdminServlet.com.CarView</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CarViewServlet</servlet-name>
  	<display-name>CarViewServlet</display-name>
  	<description></description>
  	<servlet-class>com.AdminServlet.com.CarViewServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CView</servlet-name>
  	<display-name>CView</display-name>
  	<description></description>
  	<servlet-class>com.AdminServlet.com.CView</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CuView</servlet-name>
  	<display-name>CuView</display-name>
  	<description></description>
  	<servlet-class>com.AdminServlet.com.CuView</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Delete</servlet-name>
  	<display-name>Delete</display-name>
  	<description></description>
  	<servlet-class>com.AdminServlet.com.Delete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Insert</servlet-name>
  	<display-name>Insert</display-name>
  	<description></description>
  	<servlet-class>com.AdminServlet.com.Insert</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OViewAll</servlet-name>
  	<display-name>OViewAll</display-name>
  	<description></description>
  	<servlet-class>com.AdminServlet.com.OViewAll</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OView</servlet-name>
  	<display-name>OView</display-name>
  	<description></description>
  	<servlet-class>com.AdminServlet.com.OView</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Update1</servlet-name>
  	<display-name>Update1</display-name>
  	<description></description>
  	<servlet-class>com.AdminServlet.com.Update1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Update2</servlet-name>
  	<display-name>Update2</display-name>
  	<description></description>
  	<servlet-class>com.AdminServlet.com.Update2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewUltraCar</servlet-name>
  	<display-name>ViewUltraCar</display-name>
  	<description></description>
  	<servlet-class>com.UserServlet.com.ViewUltraCar</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewPremiumCar</servlet-name>
  	<display-name>ViewPremiumCar</display-name>
  	<description></description>
  	<servlet-class>com.UserServlet.com.ViewPremiumCar</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserEconomyCar</servlet-name>
  	<display-name>UserEconomyCar</display-name>
  	<description></description>
  	<servlet-class>com.UserServlet.com.UserEconomyCar</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EconomyCarServlet</servlet-name>
  	<display-name>EconomyCarServlet</display-name>
  	<description></description>
  	<servlet-class>com.UserServlet.com.EconomyCarServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewCustomer</servlet-name>
  	<display-name>ViewCustomer</display-name>
  	<description></description>
  	<servlet-class>com.AdminServlet.com.ViewCustomer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserBookCarServlet</servlet-name>
  	<display-name>UserBookCarServlet</display-name>
  	<description></description>
  	<servlet-class>com.UserServlet.com.UserBookCarServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BillServlet</servlet-name>
  	<display-name>BillServlet</display-name>
  	<description></description>
  	<servlet-class>com.UserServlet.com.BillServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewSpecBillServlet</servlet-name>
  	<display-name>ViewSpecBillServlet</display-name>
  	<description></description>
  	<servlet-class>com.UserServlet.com.ViewSpecBillServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>com.UserServlet.com.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewSpecificServlet</servlet-name>
  	<display-name>ViewSpecificServlet</display-name>
  	<description></description>
  	<servlet-class>com.UserServlet.com.ViewSpecificServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReturnServlet</servlet-name>
  	<display-name>ReturnServlet</display-name>
  	<description></description>
  	<servlet-class>com.UserServlet.com.ReturnServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReturnCarServlet</servlet-name>
  	<display-name>ReturnCarServlet</display-name>
  	<description></description>
  	<servlet-class>com.UserServlet.com.ReturnCarServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserFeedbackInsert</servlet-name>
  	<display-name>UserFeedbackInsert</display-name>
  	<description></description>
  	<servlet-class>com.UserServlet.com.UserFeedbackInsert</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserLogout</servlet-name>
  	<display-name>UserLogout</display-name>
  	<description></description>
  	<servlet-class>com.UserServlet.com.UserLogout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserFeedBackViewServlet</servlet-name>
  	<display-name>UserFeedBackViewServlet</display-name>
  	<description></description>
  	<servlet-class>com.UserServlet.com.UserFeedBackViewServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewProfile</servlet-name>
  	<display-name>ViewProfile</display-name>
  	<description></description>
  	<servlet-class>com.UserServlet.com.ViewProfile</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>URegisterServlet</servlet-name>
  	<url-pattern>/URegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>URegister</servlet-name>
  	<url-pattern>/URegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserAddCart</servlet-name>
  	<url-pattern>/UserAddCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserDelete</servlet-name>
  	<url-pattern>/UserDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserLogin</servlet-name>
  	<url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserUpdate1</servlet-name>
  	<url-pattern>/UserUpdate1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserUpdateCart</servlet-name>
  	<url-pattern>/UserUpdateCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserViewCart</servlet-name>
  	<url-pattern>/UserViewCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLogin</servlet-name>
  	<url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CarView</servlet-name>
  	<url-pattern>/CarView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CarViewServlet</servlet-name>
  	<url-pattern>/CarViewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CView</servlet-name>
  	<url-pattern>/CView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CuView</servlet-name>
  	<url-pattern>/CuView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Delete</servlet-name>
  	<url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Insert</servlet-name>
  	<url-pattern>/Insert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OViewAll</servlet-name>
  	<url-pattern>/OViewAll</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OView</servlet-name>
  	<url-pattern>/OView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Update1</servlet-name>
  	<url-pattern>/Update1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Update2</servlet-name>
  	<url-pattern>/Update2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewUltraCar</servlet-name>
  	<url-pattern>/ViewUltraCar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewPremiumCar</servlet-name>
  	<url-pattern>/ViewPremiumCar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserEconomyCar</servlet-name>
  	<url-pattern>/UserEconomyCar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EconomyCarServlet</servlet-name>
  	<url-pattern>/EconomyCarServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewCustomer</servlet-name>
  	<url-pattern>/ViewCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserBookCarServlet</servlet-name>
  	<url-pattern>/UserBookCarServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BillServlet</servlet-name>
  	<url-pattern>/BillServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewSpecBillServlet</servlet-name>
  	<url-pattern>/ViewSpecBillServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewSpecificServlet</servlet-name>
  	<url-pattern>/ViewSpecificServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReturnServlet</servlet-name>
  	<url-pattern>/ReturnServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReturnCarServlet</servlet-name>
  	<url-pattern>/ReturnCarServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserFeedbackInsert</servlet-name>
  	<url-pattern>/UserFeedbackInsert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserLogout</servlet-name>
  	<url-pattern>/UserLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserFeedBackViewServlet</servlet-name>
  	<url-pattern>/UserFeedBackViewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewProfile</servlet-name>
  	<url-pattern>/ViewProfile</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
  <welcome-file>cover.html</welcome-file>
  </welcome-file-list>
  
</web-app>
